form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /* border: 2px solid red; */
  min-height: 20vh;
  width: 100%;
  font-size: 4rem;
}
.userInput {
  padding: 10px 20px;
  min-width: 200px;
}
.formSubmit {
  padding: 10px 20px;
  cursor: pointer;
}
